[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = https://github.com/gorilla/context
[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq
