/*
 * Copyright (c) 2016, Randy Westlund. All rights reserved.
 * This code is under the BSD-2-Clause license.
 *
 * This is the config file for the application. It must be copied to
 * src/config/config.go and modified.
 */
package config

/* Format: [address]:port, passed to http.ListenAndServe(). */
var ListenAddress = ":3000"

/* Paramaters for connecting to a local PostgreSQL database. */
var DatabaseUserName = "recipes"
var DatabaseName = "recipes"

/*
 * The following variables are used in OAuth, and must be set to your
 * deployment-specific values.
 */

/* Google OAuth client id. */
var OAuthClientID = your value here!

/* Google OAuth client secret. */
var OAuthClientSecret = your value here!

/* The hostname in the URL where this server can be found. */
var LocalHostName = "recipes.textplain.net"
